![imagenes](logo.png)

# Condicionales

Supongamos ahora que nos interesa crear una nueva columna de un dataframe basada en la información uno u otras columnas. Es decir, condicionando sobre cierta información.

Para esto, utilizamos la función ``ifelse()``. Veamos un ejemplo para entender su sintaxis:

In [ ]:
# Agregar una columna al data frame de la lámina C01.2 de tal manera que indique TRUE si el país del cliente es Brasil
# Y FALSE en caso contrario

mi_dataframe$Brazil <- ifelse(mi_dataframe$Country == "Brazil",TRUE,FALSE)

## Operadores de comparación

Surge ahora, de manera natural, plantearnos cómo podemos establecer *comparaciones* entre los datos para poder establecer condiciones.

Para ello, **R** cuenta con operadores de comparación: 

* ``>`` y ``<``
* ``>=`` y ``<=``
* ``==`` para igualdad exacta y ``!=`` para desigualdad. Estos funcionan incluso con textos.

Veamos algunos ejemplos:

In [1]:
Luis <- 32
Sara <- 25
Omar <- 21
Miguel <- 12
Raul <- 2

In [2]:
Luis < 32

[1] FALSE

In [3]:
Luis > 32

[1] FALSE

In [ ]:
Luis <= 32

In [ ]:
Luis == 32

In [ ]:
Luis != 32

## Operadores lógicos

Además, podemos hacer comparaciones compuestas utilizando los operadores lógicos:

* ``&`` para Y. Recordemos que una proposición de la forma "$A_1$ y $A_2$ y $A_3$ y ... y $A_n$" es verdadera cuando todas las componentes los son. 
* ``|`` para O. Recordemos que una proposición de la forma "$A_1$ o $A_2$ o $A_3$ o ... o $A_n$" es verdadera cuando alguna de las componentes lo es.
* ``!`` para negación

In [8]:
# Luis es menor que 40 y Omar es mayor o igual a 10
Luis < 40 & Omar >= 10

[1] TRUE

In [5]:
# Miguel es mayor que 40 y Luis es menor que 40
Miguel > 15 | Luis < 40

[1] TRUE

In [6]:
# Raul es 2 y Sara es menor que 10
Raul == 2 & Sara < 10

[1] FALSE

In [7]:
# Raul es 2 y Sara es menor que 10, o Miguel es diferente de 15

(Raul == 2 & Sara < 10) | Miguel != 15

[1] TRUE

In [ ]:
# Añadir una columna que indique "EXTREMO" si los precios están por debajo del primer cuantil y por arriba del tercer cuantil,
# y que indique "USUAL" en caso contrario. ¿Cuántos hay de cada tipo?