<a href="https://colab.research.google.com/github/cel34/Inferencia-Estad-stica-2022/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentos de Python

Python es un lenguaje de alto nivel, porque hay muchos modulos y funciones que son faciles de utilizar a comparación con otros lenguajes

Existen 2 formas de programar.

La programar local con los recursos de tu computadora.

Por ejemplo cuando programamos desde el entorno de desarrollo de Visual Studio Code o Jupyter

Y la segunda es cuando programa en la nube, cuando hacemos no estamos usando los recursos de nuestra computadora sino los de alguien más por ejemplo con google coolaboratory

In [ ]:
### Tienes una lista de números y lo que quieres es encontrar el máximo de esa lista
### Los números los da el usuario

lista = [32,11,"Jonatan","Josue",[1,2,3]]


lista_numeros = [5,11,5,80,20]


#El truco es recorrer la lista completamente pero guardando el máximo que he encontrado hasta el momento

maximo = lista_numeros[0]   #maximo = 80

for numero in lista_numeros: #numero =20
  if numero > maximo:   # 20 > 80  ---> False
    maximo = numero     # máximo = 80

print(maximo)

80

In [ ]:
print("Hola mundo")

Hola mundo

## Tipos de datos en Python

In [ ]:
numeros_enteros = 50  #int
numeros_decimal = 34.56  #float
cadenas_letras = "Hola mundo"  #strings
booleanos = True   #bool

## Tipos de datos especiales en python

## Listas

In [ ]:
despensa = ["pan","huevos","leche"]   #Python siempre empieza a contar desde 0

In [ ]:
despensa[2]  #Para accedar a cualquier elemento de una lista usamos corchetes cuadrados y la posición

'leche'

In [ ]:
despensa[-1]  #En python se pueden usar indices negativos por ejemplo despensa[-1] te daria el últimoo elemento de la lista

'leche'

In [ ]:
despensa.append("chocolate")

despensa

['pan', 'huevos', 'leche', 'chocolate']

In [ ]:
### insertar platanos entre huevo y leche

despensa.insert(2,"platanos")

despensa

['pan', 'huevos', 'platanos', 'leche', 'chocolate']

In [ ]:
### Ver cuantos elementos tiene mi lista

len(despensa)

5

In [ ]:
despensa.pop()

'chocolate'

In [ ]:
despensa

['pan', 'huevos', 'platanos', 'leche']

## Diccionarios

In [ ]:
### No tienen orden
### Lo que hacen es relacionar parejas de elementos
### Par llave-valor (key-value)
### Tambien los podemos pensar como funciones biyectivas

### Diccionario ingles-español

diccionario = {"leche":"milk","platano":"banana","huevo":"egg","pan":"bread"}

# A diferencia de la listas los diccionarios ocupan corchetes garigoleados

In [ ]:
diccionario["platano"]

'banana'

In [ ]:
diccionario["leche"]

'milk'

In [ ]:
diccionario["coche"] = "car"

print(diccionario)

{'leche': 'milk', 'platano': 'banana', 'huevo': 'egg', 'pan': 'bread', 'coche': 'car'}

In [ ]:
diccionario.keys()

dict_keys(['leche', 'platano', 'huevo', 'pan', 'coche'])

In [ ]:
diccionario.values()

dict_values(['milk', 'banana', 'egg', 'bread', 'car'])

In [ ]:
ingresos = {"Andres":15000,"Jonatan":30000,"Saul":10000}


ingresos["Jonatan"]

30000

In [ ]:
candidatos = {"Andres":{"Ingresos":15000,"Hobby":"Guitarra","Edad":30},
              "Jonatan":{"Ingresos":30000,"Hobby":"Videojuegos","Edad":25},
              "Saul":{"Ingresos":10000,"Hobby":"Videojuegos","Edad":25,"Altura":180}}

### Ciclos en python

In [ ]:
frutas = ["manzana","banana","pera"]

for f in frutas:  #for + var_aux + in + objeto con orden + :
  print(f)

manzana
banana
pera

In [ ]:
candidatos

{'Andres': {'Ingresos': 15000, 'Hobby': 'Guitarra', 'Edad': 30},
 'Jonatan': {'Ingresos': 30000, 'Hobby': 'Videojuegos', 'Edad': 25},
 'Saul': {'Ingresos': 10000,
  'Hobby': 'Videojuegos',
  'Edad': 25,
  'Altura': 180}}

In [ ]:
### lista de candidatos


max = -100000
for cand in candidatos.keys():
  ingreso_actual = candidatos[cand]["Ingresos"]  #acceder a la información del candidato por medio de su nombre
  if ingreso_actual > max:
    max = ingreso_actual
    nombre_candidato = cand

print(nombre_candidato)
print(max)

Jonatan
30000

In [ ]:
candidatos["Andres"]

{'Ingresos': 15000, 'Hobby': 'Guitarra', 'Edad': 30}

### Función input

In [ ]:
nombre = input("Ingresa tu nombre: ")

print("Hola",nombre)

Ingresa tu nombre: Saul
Hola Saul

In [ ]:
num1 = input("Ingresa un número: ")
num2 = input("Ingresa otro número: ")
num1 = int(num1)
num2 = int(num2)

print(num1+num2)

Ingresa un número: 32
Ingresa otro número: 10
42

In [ ]:
num1 = float(input("Ingresa un número: "))
num2 = float(input("Ingresa otro número: "))


print(num1+num2)

Ingresa un número: 32.4
Ingresa otro número: 11.5
43.9

### Funciones

In [ ]:
### Las funciones reciben uno o más objetos y generan un proceso con esos objetos, muchas veces regresan un producto final

def suma(num1,num2):  #def + nombre_funcion + argumentos + :
  """Esta función recibe dos números y regresa su suma"""
  suma = num1+num2
  return suma

In [ ]:
suma(40,23)

63